@model GameResultDto

@{
    ViewData["Title"] = "Create";
}


<div class="box ms-5 ml-5">
    <div class="card text-white bg-dark border-0 box" style="width: 50rem;">
        <div class="image-container">
            <img class="card-img-top" src="../../Images/@Model.Image.FileName" alt="@Model.Image.FileName">
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <p class="text-price lead card-text">@Model.Name</p>
                    <p class="display-6">$@Model.Price</p>
                </div>
            </div>
            <hr />
            <div class="row">
                @foreach (var genre in @Model.Genres)
                {
                    <div class="col">
                        <button class="hidden-corners-button">@genre.Name</button>
                    </div>
                }
            </div>
            <br />
            <div class="row">
                <h6 class="thin-version">@Model.Description</h6>
            </div>
            <br />

            <h3 class="text-danger">Are you sure to delete this game?</h3>
            <br />
            <div class="row align-content-md-center">
                <form asp-action="Delete" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="clr"></div>