@using GameStore.Service.Commons.Helpers;
@using GameStore.Service.ViewModels;
@model CommentGameViewModel

@{
    ViewData["Title"] = "Details";
}

<br />
<div class="move-margin">
    <div class="card text-white bg-dark border-0 box" style="width: 71rem;">
        <div class="image-container">
            <img class="card-img-top" src="../../Images/@Model.Game.Image.FileName" alt="@Model.Game.Image.FileName">
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <p class="text-price lead card-text">@Model.Game.Name</p>
                    <p class="display-6">$@Model.Game.Price</p>
                </div>
                <div class="col">
                </div>
                <div class="col">
                    <a href="#" class="btn btn-success ms-5">BUY</a>
                </div>
            </div>
            <hr />
            <p>
                @foreach (var genre in Model.Game.Genres)
                {
                    <button class="hidden-corners-button">@genre.Name</button>
                }
            </p>
            <br />
            <div class="row">
                <h6 class="thin-version">@Model.Game.Description</h6>
            </div>
            <br />
            <div class="row">
                <div class="col">
                    <a asp-action="Edit" asp-route-id="@Model.Game.Id" class="btn btn-primary">Edit Game</a>
                </div>
                <div class="col">
                    <a asp-action="Delete" asp-route-id="@Model.Game.Id" class="btn btn-danger">Delete Game</a>
                </div>
            </div>
            <br />
            <div id="reply-comment" class="comment-form mt-4" hidden>
                <form asp-action="AddComment" asp-controller="Games">
                    <input type="hidden" name="gameId" value="@Model.Game.Id" />
                    <div class="form-group">
                        <label for="commentText">Comment:</label>
                        <textarea class="form-control" id="commentText" name="commentText" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Comment</button>
                </form>
            </div>
        </div>
    </div>

    <div class="row mt-5 text-black bg-white">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h3 class="mb-5">@Model.Game.Comments.Count() Comments</h3>
            <ul class="comment-list  comment-top" list="@Model.Game.Comments" count="0">
                @foreach (var comment in Model.Game.Comments.Where(comment => comment.Parent is null))
                {
                    <li class="comment" style="margin-top: 30px;">
                        <div class="comment-body">
                            <h4 class="commenter-name">@comment.User.FirstName @comment.User.LastName</h4>
                            <div class="comment-date">@comment.CreatedAt.ToString("MMMM d, yyyy hh:mm tt")</div>
                            <p class="comment-message">@comment.Text</p>
                            @if (HttpContextHelper.UserId is null)
                            {
                                <a class="reply-btn btn" asp-page="/Account/Login" asp-route-ReturnUrl="~/Post/@Model.Game.Id">Login to reply</a>
                            }
                            else
                            {
                                <a aria-expanded="false" href="@($"#replyComment{comment.Id}")" data-toggle="collapse" class="reply-btn btn">Reply</a>
                            }
                        </div>
                        @if (HttpContextHelper.UserId is not null)
                        {
                            <div class="collapse" id="@($"replyComment{comment.Id}")">
                                <form asp-controller="Games" asp-action="AddComment">
                                    <input asp-for="Game.Id" readonly hidden />
                                    <input asp-for="Comment.Parent.Id" value="@comment.Id" readonly hidden />
                                    <div class="form-group">
                                        <label for="comment">Write a reply</label>
                                        <textarea asp-for="Comment.Text" class="form-control" rows="3"></textarea>
                                        <button type="submit" class="btn btn-outline-primary post-btn">Post</button>
                                    </div>
                                </form>
                            </div>
                        }
                        <ul class="comment-list" list="@comment.Comments" count="0" style="margin-left: 30px; margin-top:0;">
                            @foreach (var reply in comment.Comments)
                            {
                                <li class="comment">
                                    <div class="comment-body">
                                        <h3 class="commenter-name">@reply.User.FirstName @reply.User.LastName</h3>
                                        <div class="comment-date">@reply.CreatedAt.ToString("MMMM d, yyyy hh:mm tt")</div>
                                        <p class="comment-message">@reply.Text</p>
                                    </div>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>

            <div>
                <form asp-controller="Games" asp-action="AddComment">
                    <input asp-for="Game.Id" readonly hidden />
                    <div class="form-group">
                        <label for="comment">Comment</label>
                        <textarea asp-for="Comment.Text" class="form-control" rows="3" required></textarea>
                        <button type="submit" class="btn btn-outline-primary post-btn">Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<div class="clr"></div>

@section Scripts{
    <script>
        $('[data-toggle="collapse"]').on('click', function () {
            var $this = $(this),
                $parent = typeof $this.data('parent') !== 'undefined' ? $($this.data('parent')) : undefined;
            if ($parent === undefined) { /* Just toggle my  */
                $this.find('.glyphicon').toggleClass('glyphicon-plus glyphicon-minus');
                return true;
            }

            /* Open element will be close if parent !== undefined */
            var currentIcon = $this.find('.glyphicon');
            currentIcon.toggleClass('glyphicon-plus glyphicon-minus');
            $parent.find('.glyphicon').not(currentIcon).removeClass('glyphicon-minus').addClass('glyphicon-plus');

        });
    </script>
}


<!--Code for to display time left-->
@functions
{
    public string GetTimeElapsed(DateTime createdAt)
    {
        var currentTime = DateTime.UtcNow;
        var timeElapsed = currentTime - createdAt;

        if (timeElapsed.TotalMinutes < 1)
        {
            // Less than a minute
            return "Just now";
        }
        else if (timeElapsed.TotalHours < 1)
        {
            // Minutes
            var minutes = (int)timeElapsed.TotalMinutes;
            return $"{minutes} minute{(minutes != 1 ? "s" : "")} left";
        }
        else if (timeElapsed.TotalDays < 1)
        {
            // Hours
            var hours = (int)timeElapsed.TotalHours;
            return $"{hours} hour{(hours != 1 ? "s" : "")} left";
        }
        else if (timeElapsed.TotalDays < 30)
        {
            // Days
            var days = (int)timeElapsed.TotalDays;
            return $"{days} day{(days != 1 ? "s" : "")} left";
        }
        else if (timeElapsed.TotalDays < 365)
        {
            // Months
            var months = (int)(timeElapsed.TotalDays / 30);
            return $"{months} month{(months != 1 ? "s" : "")} left";
        }
        else
        {
            // Years
            var years = (int)(timeElapsed.TotalDays / 365);
            return $"{years} year{(years != 1 ? "s" : "")} left";
        }
    }
}