@using GameStore.Service.Commons.Helpers;
@using GameStore.Service.ViewModels;
@model CommentGameViewModel

@{
    ViewData["Title"] = "Details";
}

<br />
<div class="move-margin">
    <div class="card text-white bg-dark border-0 box" style="width: 71rem;">
        <div class="image-container">
            <img class="card-img-top" src="../../Images/@Model.Game.Image.FileName" alt="@Model.Game.Image.FileName">
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <p class="text-price lead card-text">@Model.Game.Name</p>
                    <p class="display-6">$@Model.Game.Price</p>
                </div>
                <div class="col">
                </div>
                <div class="col">
                    <a href="#" class="btn btn-success ms-5">BUY</a>
                </div>
            </div>
            <hr />
            <p>
                @foreach (var genre in Model.Game.Genres)
                {
                    <button class="hidden-corners-button">@genre.Name</button>
                }
            </p>
            <br />
            <div class="row">
                <h6 class="thin-version">@Model.Game.Description</h6>
            </div>
            <br />
            <div class="row">
                <div class="col">
                    <a asp-action="Edit" asp-route-id="@Model.Game.Id" class="btn btn-primary">Edit Game</a>
                </div>
                <div class="col">
                    <a asp-action="Delete" asp-route-id="@Model.Game.Id" class="btn btn-danger">Delete Game</a>
                </div>
            </div>
            <br />
            <div id="reply-comment" class="comment-form mt-4" hidden>
                <form asp-action="AddComment" asp-controller="Games">
                    <input type="hidden" name="gameId" value="@Model.Game.Id" />
                    <div class="form-group">
                        <label for="commentText">Comment:</label>
                        <textarea class="form-control" id="commentText" name="commentText" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Comment</button>
                </form>
            </div>
        </div>
    </div>

    <div class="row mt-5 text-white bg-dark">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="game-comment-container">
                @if (HttpContextHelper.UserId is null)
                {
                    <a class="reply-btn btn text-primary" asp-controller="Accounts" asp-action="Login"
                                        asp-route-ReturnUrl="~/Post/@Model.Game.Id">Login to comment</a>
                }
                else
                {
                    <button class="btn btn-outline-primary add-comment-btn">Comment</button>
                    <form class="comment-form" asp-controller="Games" asp-action="AddComment" method="post">
                        <input asp-for="Game.Id" readonly hidden />
                        <div class="form-group">
                            <textarea asp-for="Comment.Text" class="form-control" rows="3" required maxlength="600"></textarea>
                            <button type="submit" class="btn btn-outline-primary post-btn">Save</button>
                            <button type="button" class="btn btn-outline-secondary cancel-btn">Cancel</button>
                        </div>
                    </form>
                }
            </div>
            
            <ul class="comment-list  comment-top" list="@Model.Game.Comments" count="0">
                @foreach (var comment in Model.Game.Comments.Where(comment => comment.Parent is null))
                {
                    <div class="comment" style="margin-top: 30px;">
                        <div class="d-flex flex-start mt-4">
                            <a class="me-3" href="#!">
                                @if (@comment.User.Image is not null)
                                {
                                    <img class="rounded-circle shadow-1-strong"
                                         src="~/Images/@comment.User.Image.FileName" alt="avatar"
                                         width="40" height="40" />
                                }
                                else
                                {
                                    <img class="rounded-circle shadow-1-strong"
                                         src="~/static-images/default.jpg" alt="avatar"
                                         width="40" height="40" />
                                }
                            </a>
                            <div class="flex-grow-1 flex-shrink-1">
                                <div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <p class="mb-1">
                                            @comment.User.FirstName @comment.User.LastName
                                            <span class="small">- @GetTimeElapsed(comment.CreatedAt)</span>
                                        </p>
                                    </div>
                                    <p class="small mb-0">@comment.Text</p>
                                    @if (HttpContextHelper.UserId is null)
                                    {
                                        <a class="reply-btn btn text-primary" asp-controller="Accounts" asp-action="Login"
                                                            asp-route-ReturnUrl="~/Post/@Model.Game.Id">Login to reply</a>
                                    }
                                    else
                                    {
                                        <a aria-expanded="false" href="@($"#replyComment{comment.Id}")" data-toggle="collapse" class="reply-btn btn text-primary">Reply</a>
                                    }
                                    @if (HttpContextHelper.UserId is not null)
                                    {
                                        <div class="collapse" id="@($"replyComment{comment.Id}")">
                                            <form asp-controller="Games" asp-action="AddComment">
                                                <input asp-for="Game.Id" readonly hidden />
                                                <input asp-for="Comment.Parent.Id" value="@comment.Id" readonly hidden />
                                                <div class="form-group">
                                                    <label for="comment">Write a reply</label>
                                                    <textarea asp-for="Comment.Text" class="form-control" rows="3"></textarea>
                                                    <button type="submit" class="btn btn-outline-primary post-btn">Post</button>
                                                </div>
                                            </form>
                                        </div>
                                        <form asp-controller="Games" asp-action="EditComment" asp-route-commentId="@comment.Id"
                                                                                   asp-route-gameId="@Model.Game.Id" method="post">
                                            <div class="form-group">
                                                <label asp-for="Comment.Text" class="control-label text-white">Edit Comment</label>
                                                <input asp-for="Comment.Text" name="text" class="form-control" />
                                                <span asp-validation-for="Comment.Text" class="text-danger"></span>
                                            </div>
                                            <button type="submit" class="btn btn-outline-primary border-0">Edit</button>
                                        </form>
                                        <form asp-controller="Games" asp-action="DeleteComment" asp-route-commentId="@comment.Id"
                                                                                    asp-route-gameId="@Model.Game.Id" method="post">
                                            <button type="submit" class="btn btn-outline-danger border-0">Delete</button>
                                        </form>
                                    }
                                </div>
                            </div>
                        </div>
                        
                        <ul class="comment-list" list="@comment.Comments" count="0" style="margin-left: 30px; margin-top:0;">
                            @foreach (var reply in comment.Comments)
                            {
                                <div class="d-flex flex-start mt-4">
                                    <a class="me-3" href="#!">
                                        @if (@reply.User.Image is not null)
                                        {
                                            <img class="rounded-circle shadow-1-strong"
                                                 src="~/Images/@reply.User.Image.FileName" alt="avatar"
                                                 width="40" height="40" />
                                        }
                                        else
                                        {
                                            <img class="rounded-circle shadow-1-strong"
                                                 src="~/static-images/default.jpg" alt="avatar"
                                                 width="40" height="40" />
                                        }
                                    </a>
                                    <div class="flex-grow-1 flex-shrink-1">
                                        <div>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <p class="mb-1">
                                                    @reply.User.FirstName @reply.User.LastName
                                                    <span class="small">- @GetTimeElapsed(reply.CreatedAt)</span>
                                                </p>
                                            </div>
                                            <p class="small mb-0">@reply.Text</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </ul>
                    </div>
                }
            </ul>
        </div>
    </div>
</div>

<div class="clr"></div>

@section Scripts{
    <script>
        $('[data-toggle="collapse"]').on('click', function () {
            var $this = $(this),
                $parent = typeof $this.data('parent') !== 'undefined' ? $($this.data('parent')) : undefined;
            if ($parent === undefined) { 
                $this.find('.glyphicon').toggleClass('glyphicon-plus glyphicon-minus');
                return true;
            }

            var currentIcon = $this.find('.glyphicon');
            currentIcon.toggleClass('glyphicon-plus glyphicon-minus');
            $parent.find('.glyphicon').not(currentIcon).removeClass('glyphicon-minus').addClass('glyphicon-plus');

        });

        $(document).ready(function () {
            $('.add-comment-btn').click(function () {
                var $container = $(this).closest('.game-comment-container');
                $container.find('.comment-form').show();
                $container.find('.comment-text').hide();
            });

            $('.cancel-btn').click(function () {
                var $container = $(this).closest('.game-comment-container');
                $container.find('.comment-form').hide();
                $container.find('.comment-form textarea').val('');
                $container.find('.comment-text').hide();
            });

            $('.post-btn').click(function () {
                var $container = $(this).closest('.game-comment-container');
                var $form = $container.find('.comment-form');
                $form.submit(); 
            });

            $('textarea[asp-for="Comment.Text"]').on('input', function () {
                var maxLength = 600;
                var currentLength = $(this).val().length;
                var remaining = maxLength - currentLength;

                var $counter = $(this).closest('.form-group').find('.character-counter span');
                $counter.text(remaining);

                if (remaining < 0) {
                    $counter.addClass('text-danger');
                } else {
                    $counter.removeClass('text-danger');
                }
            });
        });
    </script>
}


<!--Code for to display time left-->
@functions
{
    public string GetTimeElapsed(DateTime createdAt)
    {
        var currentTime = DateTime.UtcNow;
        var timeElapsed = currentTime - createdAt;

        if (timeElapsed.TotalMinutes < 1)
        {
            // Less than a minute
            return "Just now";
        }
        else if (timeElapsed.TotalHours < 1)
        {
            // Minutes
            var minutes = (int)timeElapsed.TotalMinutes;
            return $"{minutes} minute{(minutes != 1 ? "s" : "")} left";
        }
        else if (timeElapsed.TotalDays < 1)
        {
            // Hours
            var hours = (int)timeElapsed.TotalHours;
            return $"{hours} hour{(hours != 1 ? "s" : "")} left";
        }
        else if (timeElapsed.TotalDays < 30)
        {
            // Days
            var days = (int)timeElapsed.TotalDays;
            return $"{days} day{(days != 1 ? "s" : "")} left";
        }
        else if (timeElapsed.TotalDays < 365)
        {
            // Months
            var months = (int)(timeElapsed.TotalDays / 30);
            return $"{months} month{(months != 1 ? "s" : "")} left";
        }
        else
        {
            // Years
            var years = (int)(timeElapsed.TotalDays / 365);
            return $"{years} year{(years != 1 ? "s" : "")} left";
        }
    }
}