@using GameStore.Service.Commons.Helpers;
@using GameStore.Web.Middlewares;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Game Store</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GameStore.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
</head>
<body class="bg-black">
    <nav class="navbar navbar-expand-sm navbar-dark bg-black">
        <div class="container">
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">Games Store</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Index" class="nav-link">Games</a>
                    </li>
                    <li class="nav-item active">
                        <a href="#" class="nav-link">Community</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Support</a>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav float-right">
                    @if (HttpContextHelper.UserId is not null)
                    {
                        
                        <a asp-controller="users" asp-action="uploadavatar">
                            <span id="image">
                                <img src="" alt="Header image" id="header-image" />
                            </span>
                        </a>
                        <li class="nav-item" style="padding-right: 10px">
                            <a asp-controller="users" asp-action="uploadavatar" class="nav-link float-end">
                                @HttpContextHelper.FirstName @HttpContextHelper.LastName
                            </a>
                        </li>
                        <li class="nav-item" style="padding-right: 10px">
                            <a asp-controller="carts" asp-action="cart" class="text-black">
                                <i class="fa fa-shopping-cart fa-1x" style="color: white" aria-hidden="true"></i>
                                <span id="cartCount" class="badge text-bg-info">0</span>
                            </a>
                        </li>
                        <li class="nav-item" style="padding-right: 0px">
                            <a asp-controller="accounts" asp-action="logout" class="nav-link float-end">SIGN OUT</a>
                        </li>
                    }
                    @if (HttpContextHelper.UserId is null)
                    {
                        <li class="nav-item">
                            <a href="@Url.Action("Login", "Accounts")" class="nav-link float-end">Sign in</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="clr"></div>

    <div class="container bg-dark">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="clr"></div>

    <div class="container">
        <footer id="main-footer" class="border-top footer text-muted bg-black">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <p>
                            Game Store
                        </p>
                    </div>
                    <div class="col">
                    </div>
                    <div class="col float-right">
                        <p>
                            Copyright &copy;
                            <span id="year"></span>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="~/Assets/datatables-demo.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script>
        loadCartCount();
        async function loadCartCount() {
            try {
                var response = await fetch(`/carts/retrieveItemCount`);
                console.log(response)
                if (response.status == 200) {
                    var result = await response.json();
                    var cartCountEl = document.getElementById("cartCount");
                    cartCountEl.innerHTML = result;
                }
            }
            catch (err) {
                console.log(err);
            }
        }

        loadImage();
        async function loadImage() {
            try {
                var response = await fetch(`/users/GetUserImageFileName`);
                if (response.status == 200) {
                    var result = await response.text();
                    var imageEl = document.getElementById("header-image");
                    imageEl.src = `/Images/${result}`; 
                }
                else {
                    var imageEl = document.getElementById("header-image");
                    imageEl.src = `/static-images/default.jpg`;
                }
            } catch (err) {
                console.log(err);
            }
        }
    </script>
    <script>$('#year').text(new Date().getFullYear());</script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
