@using GameStore.Service.DTOs.Games;
@model IEnumerable<GameResultDto>
@{
    ViewData["Title"] = "Home";
}

<br />
<div class="genre-filter text-white">
    
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        <div class="float-end">
            <p class="text-white">
                &#128269 @Html.TextBox("search")
            </p>
        </div>
        <div>
            <button id="filterButton" class="btn btn-dark">&#43;Add genre</button>
            <label>|</label>
            @foreach (var genre in ViewBag.Genres)
            {
                <label>
                    <input type="radio" name="genreId" value="@genre.Id" />
                    @genre.Name
                </label>
            }
        </div>
    }
</div>

<div class="clr"></div>

<a href="games/create" class="btn btn-success float-end">Add Game</a>
<br />

<div class="clr"></div>

@foreach (var item in Model)
{
    <div class="card text-white bg-dark border-0 box" style="width: 27rem;">
        @if (item.Image != null)
        {
            <div class="image-container">
                <a href="games/details/@item.Id"><img class="card-img-top" src="Images/@item.Image.FileName" alt="Game image cap"></a>
            </div>
        }
        <div class="card-body">
            <div class="row">
                <div class="col">
                    @if (item.Price == 0 || item.Price == null)
                    {
                        <p class="text-price lead">Free</p>
                    }
                    else
                    {
                        <p class="text-price lead">$@item.Price</p>
                    }
                </div>
                <div class="col">
                    <h3></h3>
                </div>
                <div class="col">
                    <h3></h3>
                </div>
                <div class="col">
                    <a href="#" class="btn btn-success">BUY</a>
                </div>
            </div>
            <div class="row">
                @{
                    var genreNames = string.Join(" / ", item.Genres.Select(genre => genre.Name));
                }
                <div class="col">
                    <p class="card-text">@genreNames</p>
                </div>
                <h6 class="">@item.Name</h6>
            </div>
        </div>
    </div>
}

<div class="clr"></div>


@section scripts {
    <script>
        $(document).ready(function () {
            // Hide all games initially
            $(".card").hide();

            // Show all games when the page loads
            $(".card").fadeIn(500);

            // Handle filter button click
            $("#filterButton").click(function () {
                var selectedGenres = [];
                // Get the selected genre values
                $("input[name='genres']:checked").each(function () {
                    selectedGenres.push($(this).val());
                });

                if (selectedGenres.length === 0) {
                    // If no genres are selected, show all games
                    $(".card").fadeIn(500);
                } else {
                    // Hide all games
                    $(".card").hide();
                    // Show games that match the selected genres
                    selectedGenres.forEach(function (genreId) {
                        $(".card[data-genre='" + genreId + "']").fadeIn(500);
                    });
                }
            });
        });
    </script>
}
