@using GameStore.Service.DTOs.Carts;
@model CartResultDto

@{
    ViewData["Title"] = "Cart";
}

<section id="cart-text-color" class="h-auto h-custom w-auto bg-dark">
    <div class="container py-5 h-auto">
        <div class="row d-flex justify-content-center align-items-center h-auto w-auto">
            <div class="col w-auto">
                <div class="card bg-dark">
                    <div class="card-body">
                        <div id="border-color-setting" class="row w-auto">

                            <div class="w-100">
                                <hr>

                                @if (Model.Items.Any())
                                {
                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                        <div>
                                            <p class="mb-0" style="font-weight:normal;">Your cart</p>
                                        </div>
                                        <div>
                                            <p class="mb-0">
                                                <span class="text-white">Total: $@Model.GrandTotalPrice</span>
                                                <a href="~/orders/order" class="text-white btn"
                                                   style="background-color: green; padding: 5px 10px; margin-left: 10px;">Proceed</a>
                                            </p>
                                        </div>
                                    </div>

                                    @foreach (var item in Model.Items)
                                    {
                                        <div class="card mb-3">
                                            <div class="card-body bg-dark">
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex flex-row align-items-center">
                                                        <div>
                                                            <img src="~/Images/@item.Game.Image.FileName"
                                                                 class="img-fluid rounded-3" alt="Shopping item" style="width: 150px;">
                                                        </div>
                                                        <div class="m-3">
                                                            <h5 style="max-width: 150px; word-wrap: break-word;">@item.Game.Name</h5>
                                                            <p class="small mb-0">$@item.Game.Price</p>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex flex-row align-items-center">
                                                        <p>
                                                        </p><div class="input-group">
                                                            <span class="input-group-prepend">
                                                                <form asp-controller="Carts" asp-action="SubtractItem" asp-route-gameId="@item.Game.Id" method="post">
                                                                    <button type="submit" class="btn button-blr btn-number" data-type="minus" data-field="quant[1]">
                                                                        <span class="fa fa-minus"></span>
                                                                    </button>
                                                                </form>
                                                            </span>
                                                            <button class="btn-middle disabled">@item.Amount</button>
                                                            <span class="input-group-append">
                                                                <form asp-controller="Carts" asp-action="AddItem" asp-route-gameId="@item.Game.Id" method="post"
                                                                      asp-route-ReturnUrl="~/carts/cart">
                                                                    <button type="submit" class="btn button-brr btn-number" data-type="plus" data-field="quant[1]">
                                                                        <span class="fa fa-plus"></span>
                                                                    </button>
                                                                </form>
                                                            </span>
                                                        </div>
                                                        <p></p>
                                                    </div>
                                                    <div class="d-flex flex-row align-items-center">
                                                        <div class="m-4">
                                                            <h5>Total:</h5>
                                                            <p class="mb-0" style="font-family: sans-serif;">$@item.TotalPrice</p>
                                                        </div>
                                                        <form asp-controller="Carts" asp-action="DeleteItem" asp-route-itemId="@item.Id" method="post">
                                                            <button type="submit" class="bg-dark border-0" href="#!" style="color: white;">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                                                </svg>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <a href="~/">
                                    <div class="box" style="margin-left: 33%; margin-top: 5%; margin-bottom: 5%;">
                                        <div class="card w-450px h-250px mt-20 mb-100 border-0" style="margin-left:auto; margin-right:auto; box-shadow: 0px 0px 15px gray; background-color: #D3D3D3">
                                            <div class="py-10 pe-10 px-10">
                                                <br />
                                                <div class="text-center mb-30">
                                                    <p class="message bring-center" style="color: red">
                                                        Your Cart Is Empty
                                                    </p>
                                                </div>
                                                <div class="form-group">
                                                    <div class="testimonial">
                                                        <div class="avatar-wrapper">
                                                            <img class="profile-pic" src="~/static-images/empty-cart.png" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <br />
                                                <p class="fs-4 fw-bolder mb-3 bring-center" style="color: green">Lets add Games To Cart</p>
                                            </div>
                                        </div>
                                    </div>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>